.bg-darkpink {
    background-color: #a1164e !important;
  }
  
  a.bg-darkpink:hover, a.bg-darkpink:focus,
  button.bg-darkpink:hover,
  button.bg-darkpink:focus {
    background-color: #5e0d2d !important;
  }

.bg-modblue {
    background-color: #307abd !important;
  }
  
  a.bg-modblue:hover, a.bg-modblue:focus,
  button.bg-modblue:hover,
  button.bg-modblue:focus {
    background-color: #306ba4 !important;
  }  
  
/* HOMEPAGE */
/* speakers */
.speaker-img {
  height: 200px;
  width: 200px;
  border: 1px solid #e5e5e5;
  border-radius: .5rem;
}
.speaker-info {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.speaker-name {
  font-size: .9rem;
  font-weight: 500;
  line-height: .5;
  font-family: "Montserrat", Arial, "Calibri", sans-serif;
}
.speaker-aff {
  font-size: .8rem;
  font-weight: 400;
  font-family: "Open Sans", Arial, "Calibri", sans-serif;
}
/* FOOTER */
.credit {
  font-size: .8rem;
  font-weight: 400;
  text-align: justify;
  font-family: "Open Sans", Arial, "Calibri", sans-serif;
}